/* Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffa500;
    /* Color de hover en enlaces */
}